* {
  /* width, height가 padding, border 포함 / margin은 제외 */
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10.5px;
  line-height: 10.5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -0.4px;
}

#wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 1340px;
}

#header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1280px;
  margin: 0;
}

.header-inner {
  border: none;
  background: none;
  cursor: pointer;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#header-hamburger:hover::before,
#header-pay:hover::before,
#header-talk:hover::before,
#header-noti:hover::before,
#header-basket:hover::before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  content: "";
  z-index: 1;
  background-color: var(--color_option_bg);
  border-radius: 50%;
}

#header-hamburger {
  position: absolute;
  top: 5px;
  left: -12px;
  padding: 8px;
}

#header-hamburger::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./sp_main.png");
  background-size: 452px 436px;
  background-position: -311px -166px;
  background-repeat: no-repeat;
  z-index: 2;
}

#header-pay {
  position: absolute;
  top: 5px;
  left: 41px;
  padding: 8px;
}

#header-pay::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./sp_main.png");
  background-size: 452px 436px;
  background-position: -248px -260px;
  background-repeat: no-repeat;
  z-index: 2;
}

#header-talk {
  position: absolute;
  top: 5px;
  right: 94px;
  padding: 8px;
}

#header-talk::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./sp_main.png");
  background-size: 452px 436px;
  background-position: -99px -316px;
  background-repeat: no-repeat;
  z-index: 2;
}

#header-noti {
  position: absolute;
  top: 5px;
  right: 42px;
  padding: 8px;
}

#header-noti::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./sp_main.png");
  background-size: 452px 436px;
  background-position: -311px -232px;
  background-repeat: no-repeat;
  z-index: 2;
}

#header-basket {
  position: absolute;
  top: 5px;
  right: -10px;
  padding: 8px;
}

#header-basket::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./sp_main.png");
  background-size: 452px 436px;
  background-position: -33px -316px;
  background-repeat: no-repeat;
  z-index: 2;
}

#search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 706px;
  top: 52px;
  border: 1px solid #03c75a;
  border-radius: 33px;
}

#search:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
#search > form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
}
#search-svg {
  display: flex;
  position: relative;
  padding: 17px 16px 17px 27px;
}

#search-svg::after {
  display: none;
}

#search-svg > svg {
  width: 24px;
  height: 24px;
  fill: #03c75a;
}

#search-input {
  position: relative;
  width: 480px;
  height: 58px;
  padding: 17px 0;
  font-size: 2rem;
  line-height: 24px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

#search-input::placeholder {
  color: white;
}

#search-input:focus::placeholder {
  color: #e4e4e4;
}

#search-right {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex: 1;
}

#search-right > button {
  border: none;
  outline: none;
  background-color: transparent;
}

#search-keyboard {
  padding: 22px 3px;
}

#search-keyboard::before {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
  background-size: 452px 436px;
  background-position: -148px -301px;
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
}

#search-keyboard:hover::before {
  filter: brightness(0.7);
}

#search-recent {
  padding: 26px 6px;
}

#search-recent::before {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
  background-size: 452px 436px;
  background-position: -154px -211px;
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
}

#search-button {
  padding: 17px 27px 16px 10px;
}

#search-go-svg {
  display: block;
  width: 25px;
  height: 25px;
}

#nav {
  position: relative;
  width: 676px;
  margin: 60px auto 0;
}

#nav > ul {
  display: flex;
  list-style-type: none;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.3rem;
  color: #000000;
  line-height: 20px;
}

#nav a {
  text-decoration: none;
  text-align: center;
}

#nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0 auto;
}

#nav a span {
  display: block;
  text-align: center;
  margin-top: 4px;
}

#nav li a div::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -3px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
  background-size: 452px 436px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  z-index: 0;
}

#nav li:hover a div::before {
  position: absolute;
  top: -1px;
  left: -3px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
  background-size: 452px 436px;
  background-position: -102px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  z-index: 0;
}

#nav li a div::after {
  content: "";
  display: inline-block;
  position: relative;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
  background-size: 452px 436px;
  background-position: -205px -219px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  z-index: 1;
}

#nav a:visited {
  color: black;
}

#nav li {
  width: 64px;
}
#nav li:nth-of-type(1) a div::after {
  margin-left: 0;
}
#nav li:nth-of-type(2) a div::after {
  background-position: -41px -219px;
}
#nav li:nth-of-type(3) a div::after {
  background-position: 0px -219px;
}
#nav li:nth-of-type(4) a div::after {
  background-position: -41px -260px;
}
#nav li:nth-of-type(5) a div::after {
  background-position: -270px -205px;
}
#nav li:nth-of-type(6) a div::after {
  background-position: -123px -260px;
}
#nav li:nth-of-type(7) a div::after {
  background-position: 0px -260px;
}
#nav li:nth-of-type(8) a div::after {
  background-position: -270px 0px;
}
#nav li:nth-of-type(9) a div::after {
  background-position: -164px -260px;
}
#nav li:nth-of-type(10) a div::after {
  display: none;
}
#nav li:nth-of-type(10) a img {
  position: relative;
  vertical-align: top;
  border: 0;
  width: 40px;
  aspect-ratio: auto 40 / 40;
  height: 40px;
  z-index: 2;
}
#nav li:nth-of-type(11) a div::after {
  background-position: -270px -164px;
}

:root {
  --color_title: #080808;
  --color_title_rgb: 8, 8, 8;
  --color_body: #101010;
  --color_body_rgb: 16, 16, 16;
  --color_caption1: #404040;
  --color_caption1_rgb: 64, 64, 64;
  --color_caption2: #606060;
  --color_caption2_rgb: 96, 96, 96;
  --color_caption3: #555558;
  --color_caption3_rgb: 85, 85, 88;
  --color_search: #000;
  --color_search_rgb: 0, 0, 0;
  --color_border_out: #e3e5e8;
  --color_border_out_rgb: 227, 229, 232;
  --color_border_in: #ebebeb;
  --color_border_in_rgb: 235, 235, 235;
  --color_border_in_divider: #ebebeb;
  --color_border_in_divider_rgb: 235, 235, 235;
  --color_border_in_exception: #ebebeb;
  --color_border_in_exception_rgb: 235, 235, 235;
  --color_button_border: #dadcdf;
  --color_button_border_rgb: 218, 220, 223;
  --color_dot_divider: #d3d5d7;
  --color_dot_divider_rgb: 211, 213, 215;
  --color_block_bg: #fff;
  --color_block_bg_rgb: 255, 255, 255;
  --color_board_bg: #f4f6fa;
  --color_board_bg_rgb: 244, 246, 250;
  --color_option_bg: #f5f7f8;
  --color_option_bg_rgb: 245, 247, 248;
  --color_login_bg: #fafbfb;
  --color_login_bg_rgb: 250, 251, 251;
  --color_menu_widget_bg: #fff;
  --color_menu_widget_bg_rgb: 255, 255, 255;
  --color_setting_bg: #fff;
  --color_setting_bg_rgb: 255, 255, 255;
  --color_button1_bg: #fff;
  --color_button1_bg_rgb: 255, 255, 255;
  --color_button2_bg: #fff;
  --color_button2_bg_rgb: 255, 255, 255;
  --color_news: #3a67ea;
  --color_news_rgb: 58, 103, 234;
  --color_news_econ_stay: #909aab;
  --color_news_econ_stay_rgb: 144, 154, 171;
  --color_news_econ_down: #4f67d6;
  --color_news_econ_down_rgb: 79, 103, 214;
  --color_live_news_price: #f4361e;
  --color_live_news_price_rgb: 244, 54, 30;
  --color_enter: #e538e2;
  --color_enter_rgb: 229, 56, 226;
  --color_enter_bg: #f2f1fb;
  --color_enter_bg_rgb: 242, 241, 251;
  --color_sports: #1f65ef;
  --color_sports_rgb: 31, 101, 239;
  --color_sports_bg: #f4f7fe;
  --color_sports_bg_rgb: 244, 247, 254;
  --color_econ: #008f76;
  --color_econ_rgb: 0, 143, 118;
  --color_calendar: #eb5b5b;
  --color_calendar_rgb: 235, 91, 91;
  --color_dic: #031f5f;
  --color_dic_rgb: 3, 31, 95;
  --color_shop: #9858f5;
  --color_shop_rgb: 152, 88, 245;
}
