* {
  /* width, height가 padding, border 포함 / margin은 제외 */
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10.5px;
  line-height: 10.5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -0.4px;
}

#wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 1340px;
}

#header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1280px;
  margin: 0;
}

.header-inner {
  border: none;
  background: none;
  cursor: pointer;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#header-hamburger:hover::before,
#header-pay:hover::before,
#header-talk:hover::before,
#header-noti:hover::before,
#header-basket:hover::before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  content: "";
  z-index: 1;
  background-color: var(--color_option_bg);
  border-radius: 50%;
}

#header-hamburger {
  position: absolute;
  top: 5px;
  left: -12px;
  padding: 8px;
}

#header-hamburger::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./sp_main.png");
  background-size: 452px 436px;
  background-position: -311px -166px;
  background-repeat: no-repeat;
  z-index: 2;
}

#header-pay {
  position: absolute;
  top: 5px;
  left: 41px;
  padding: 8px;
}

#header-pay::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./sp_main.png");
  background-size: 452px 436px;
  background-position: -248px -260px;
  background-repeat: no-repeat;
  z-index: 2;
}

#header-talk {
  position: absolute;
  top: 5px;
  right: 94px;
  padding: 8px;
}

#header-talk::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./sp_main.png");
  background-size: 452px 436px;
  background-position: -99px -316px;
  background-repeat: no-repeat;
  z-index: 2;
}

#header-noti {
  position: absolute;
  top: 5px;
  right: 42px;
  padding: 8px;
}

#header-noti::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./sp_main.png");
  background-size: 452px 436px;
  background-position: -311px -232px;
  background-repeat: no-repeat;
  z-index: 2;
}

#header-basket {
  position: absolute;
  top: 5px;
  right: -10px;
  padding: 8px;
}

#header-basket::after {
  display: block;
  position: relative;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./sp_main.png");
  background-size: 452px 436px;
  background-position: -33px -316px;
  background-repeat: no-repeat;
  z-index: 2;
}

#search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 706px;
  top: 52px;
  border: 1px solid #03c75a;
  border-radius: 33px;
}

#search:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
#search > form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
}
#search-svg {
  display: flex;
  position: relative;
  padding: 17px 16px 17px 27px;
}

#search-svg::after {
  display: none;
}

#search-svg > svg {
  width: 24px;
  height: 24px;
  fill: #03c75a;
}

#search-input {
  position: relative;
  width: 480px;
  height: 58px;
  padding: 17px 0;
  font-size: 2rem;
  line-height: 24px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

#search-input::placeholder {
  color: white;
}

#search-input:focus::placeholder {
  color: #e4e4e4;
}

#search-right {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex: 1;
}

#search-right > button {
  border: none;
  outline: none;
  background-color: transparent;
}

#search-keyboard {
  padding: 22px 3px;
}

#search-keyboard::before {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
  background-size: 452px 436px;
  background-position: -148px -301px;
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
}

#search-keyboard:hover::before {
  filter: brightness(0.7);
}

#search-recent {
  padding: 26px 6px;
}

#search-recent::before {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
  background-size: 452px 436px;
  background-position: -154px -211px;
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
}

#search-button {
  padding: 17px 27px 16px 10px;
}

#search-go-svg {
  display: block;
  width: 25px;
  height: 25px;
}

#nav {
  position: relative;
  width: 676px;
  margin: 60px auto 0;
}

#nav > ul {
  display: flex;
  list-style-type: none;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.3rem;
  color: #000000;
  line-height: 20px;
}

#nav a {
  text-decoration: none;
  text-align: center;
}

#nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0 auto;
}

#nav a span {
  display: block;
  text-align: center;
  margin-top: 4px;
}

#nav li a div::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -3px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
  background-size: 452px 436px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  z-index: 0;
}

#nav li:hover a div::before {
  position: absolute;
  top: -1px;
  left: -3px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
  background-size: 452px 436px;
  background-position: -102px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  z-index: 0;
}

#nav li a div::after {
  content: "";
  display: inline-block;
  position: relative;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
  background-size: 452px 436px;
  background-position: -205px -219px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  z-index: 1;
}

#nav a:visited {
  color: black;
}

#nav li {
  width: 64px;
}
#nav li:nth-of-type(1) a div::after {
  margin-left: 0;
}
#nav li:nth-of-type(2) a div::after {
  background-position: -41px -219px;
}
#nav li:nth-of-type(3) a div::after {
  background-position: 0px -219px;
}
#nav li:nth-of-type(4) a div::after {
  background-position: -41px -260px;
}
#nav li:nth-of-type(5) a div::after {
  background-position: -270px -205px;
}
#nav li:nth-of-type(6) a div::after {
  background-position: -123px -260px;
}
#nav li:nth-of-type(7) a div::after {
  background-position: 0px -260px;
}
#nav li:nth-of-type(8) a div::after {
  background-position: -270px 0px;
}
#nav li:nth-of-type(9) a div::after {
  background-position: -164px -260px;
}
#nav li:nth-of-type(10) a div::after {
  display: none;
}
#nav li:nth-of-type(10) a img {
  position: relative;
  vertical-align: top;
  border: 0;
  width: 40px;
  aspect-ratio: auto 40 / 40;
  height: 40px;
  z-index: 2;
}
#nav li:nth-of-type(11) a div::after {
  background-position: -270px -164px;
}

main {
  display: flex;
  height: 3000px;
  margin-top: 28px;
}

#main-left {
  width: 830px;
}

#main-right {
  margin-left: 30px;
  width: 420px;
}

#main-left-ad,
#main-right-ad {
  background-color: gray;
}

aside[id$="ad"] {
  border-radius: 8px;
  margin-bottom: 16px;
}

#main-left-ad {
  height: 130px;
}

section[id^="main"] {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin-bottom: 16px;
}

#main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 164px;
  padding: 21px 20px 18px;
  font-size: 1.4rem;
  line-height: 20px;
}

#main-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 56.38px;

  margin-top: 13px;
  padding: 17px 0;

  border-radius: 4px;
  background-color: #03c75a;
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
}

#main-login-button:hover {
  filter: brightness(0.93);
}

#main-login-button i {
  background-image: url(/sp_main.png);
  background-size: 452px 436px;
  background-position: 0px -301px;
  background-repeat: no-repeat;
  width: 72px;
  height: 14px;
  display: inline-block;
  margin: 3px 8px 0 0;
  vertical-align: top;
}

#main-login > div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  font-size: 1.3rem;
}

#main-login > div:last-of-type a {
  text-decoration: none;
  color: var(--color_caption2);
}

#main-login > div:last-of-type a:hover {
  text-decoration: underline;
}

#main-login > div:last-of-type > a:nth-of-type(2)::before,
#main-login > div:last-of-type > a:nth-of-type(2)::after {
  content: "";
  width: 1px;
  height: 12px;
  display: inline-block;
  background-color: var(--color_dot_divider);
  margin: 4px 12px 0;
}

#main-right-ad {
  height: 240px;
}

#main-weather,
#main-stock {
  padding: 18px 0;
}

.main-right-header {
  height: 52px;
  padding: 6px 0;
}

#main-weather > div,
#main-stock > div {
  border-top: 1px solid var(--color_border_in);
}
#main-weather {
  height: 236px;
}

#main-stock {
  height: 236px;
}

#main-newsstand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 426.17px;
  line-height: 10px;
}

#main-newsstand a {
  text-decoration: none;
}

#main-newsstand a:visited {
  color: inherit;
}

#main-newsstand a:hover {
  text-decoration: underline;
}

#main-newsstand-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  padding: 18px 20px 17px;

  font-size: 1.6rem;
  line-height: 23px;
  font-weight: 800;
  color: rgba(8, 8, 8, 0.5);
}

#main-newsstand-header a {
  position: relative;
  display: flex;
}

.bold {
  font-weight: bold;
  color: black;
}

#main-newsstand-header .dot::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  margin: 9px 7px 0;
  border-radius: 50%;
  vertical-align: top;
}

#main-newsstand-header .slash {
  padding-left: 26px;
}

#main-newsstand-sports {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

#main-newsstand-sports-span {
  background-color: #f4361e;
  background-color: var(--color_live_news_price);
  display: flex;
  margin: 3px 0 0 5px;
  padding: 0 5px 0 4px;
  border-radius: 9px;
  font-size: 1.1rem;
  line-height: 18px;
  font-weight: 900;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
}

#main-newsstand-sports-span::before {
  content: "";
  display: inline-block;
  background-image: url(/sp_main.png);
  background-size: 452px 436px;
  background-position: -432px -413px;
  background-repeat: no-repeat;
  width: 14px;
  height: 10px;
  margin: 4px 3px 0 0;
  vertical-align: top;
}

#main-newsstand-header .slash::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 13px;
  width: 1px;
  height: 15px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  transform: skewX(-15deg); /* 회전 */
}

#main-newsstand-subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 790px;
  margin: 0 20px;
  padding: 12px 20px;
  background-color: var(--color_option_bg);
  border-radius: 4px;
  font-size: 1.4rem;
  line-height: 26px;
}

#main-newsstand-subheader .dot::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  margin: 12px 6px 0 6px;
  border-radius: 50%;
  vertical-align: top;
}

#main-newsstand-subheader .bar {
  padding-left: 25px;
}

#main-newsstand-subheader .bar::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
  width: 1px;
  height: 12px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
}

#main-newsstand-subheader > div {
  display: flex;
  position: relative;
}

#main-newsstand-subheader > div > a {
  display: inline-block;
  position: relative;
}

#main-newsstand-subheader .select {
  color: var(--color_caption2);
}

#main-newsstand-subheader .select::after {
  content: "";
  background-image: url(/sp_main.png);
  background-size: 452px 436px;
  background-position: -175px -211px;
  background-repeat: no-repeat;
  width: 9px;
  height: 6px;
  display: inline-block;
  margin: 9px 0 0 5px;
  vertical-align: top;
}

#main-newsstand-subheader-ani {
  position: relative;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#main-newsstand-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  width: 790px;
  height: 224.4px;
  margin: 18px 20px;
  border-radius: 4px;
}
#main-newsstand-grid > div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 0 1px var(--color_border_in);
}
#main-newsstand-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid var(--color_border_in);
  position: relative;
  padding: 10px 0 11px;
  line-height: 34px;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.3rem;
  line-height: 35px;
  font-weight: 600;
}
#main-newsstand-footer .news {
  color: var(--color_news);
}

#main-newsstand-footer .total {
  color: rgba(96, 96, 96, 0.5);
}

#main-newsstand-footer-center {
  display: flex;
  padding: 0 16px;
}

#main-newsstand-footer-prev,
#main-newsstand-footer-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 36px;
  height: 36px;
  border: 1px solid var(--color_button_border);
  border-radius: 50%;
}

#main-newsstand-footer-prev:hover,
#main-newsstand-footer-next:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

#main-newsstand-footer-prev::before {
  content: "";
  background-image: url(/sp_main.png);
  background-size: 452px 436px;
  background-position: -193px -424px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  margin: auto;
  transform: rotate(180deg);
}
#main-newsstand-footer-next::before {
  content: "";
  background-image: url(/sp_main.png);
  background-size: 452px 436px;
  background-position: -182px -424px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
}

#main-newsstand-footer-view {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
  width: 98px;
}

#main-newsstand-footer-view .list {
  border: none;
  width: 49px;
  height: 56px;
  padding: 18px 9px 18px 20px;
}

#main-newsstand-footer-view .list::before {
  content: "";
  display: inline-block;
  background-image: url(/sp_main.png);
  background-size: 452px 436px;
  background-position: -227px -376px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

#main-newsstand-footer-view .grid {
  border: none;
  width: 49px;
  height: 56px;
  padding: 18px 20px 18px 9px;
}

#main-newsstand-footer-view .grid::before {
  content: "";
  display: inline-block;
  background-image: url(/sp_main.png);
  background-size: 452px 436px;
  background-position: -432px -21px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

#main-newsstand-footer-view .list:hover::before,
#main-newsstand-footer-view .grid:hover::before {
  filter: brightness(0.6);
}

:root {
  --color_title: #080808;
  --color_title_rgb: 8, 8, 8;
  --color_body: #101010;
  --color_body_rgb: 16, 16, 16;
  --color_caption1: #404040;
  --color_caption1_rgb: 64, 64, 64;
  --color_caption2: #606060;
  --color_caption2_rgb: 96, 96, 96;
  --color_caption3: #555558;
  --color_caption3_rgb: 85, 85, 88;
  --color_search: #000;
  --color_search_rgb: 0, 0, 0;
  --color_border_out: #e3e5e8;
  --color_border_out_rgb: 227, 229, 232;
  --color_border_in: #ebebeb;
  --color_border_in_rgb: 235, 235, 235;
  --color_border_in_divider: #ebebeb;
  --color_border_in_divider_rgb: 235, 235, 235;
  --color_border_in_exception: #ebebeb;
  --color_border_in_exception_rgb: 235, 235, 235;
  --color_button_border: #dadcdf;
  --color_button_border_rgb: 218, 220, 223;
  --color_dot_divider: #d3d5d7;
  --color_dot_divider_rgb: 211, 213, 215;
  --color_block_bg: #fff;
  --color_block_bg_rgb: 255, 255, 255;
  --color_board_bg: #f4f6fa;
  --color_board_bg_rgb: 244, 246, 250;
  --color_option_bg: #f5f7f8;
  --color_option_bg_rgb: 245, 247, 248;
  --color_login_bg: #fafbfb;
  --color_login_bg_rgb: 250, 251, 251;
  --color_menu_widget_bg: #fff;
  --color_menu_widget_bg_rgb: 255, 255, 255;
  --color_setting_bg: #fff;
  --color_setting_bg_rgb: 255, 255, 255;
  --color_button1_bg: #fff;
  --color_button1_bg_rgb: 255, 255, 255;
  --color_button2_bg: #fff;
  --color_button2_bg_rgb: 255, 255, 255;
  --color_news: #3a67ea;
  --color_news_rgb: 58, 103, 234;
  --color_news_econ_stay: #909aab;
  --color_news_econ_stay_rgb: 144, 154, 171;
  --color_news_econ_down: #4f67d6;
  --color_news_econ_down_rgb: 79, 103, 214;
  --color_live_news_price: #f4361e;
  --color_live_news_price_rgb: 244, 54, 30;
  --color_enter: #e538e2;
  --color_enter_rgb: 229, 56, 226;
  --color_enter_bg: #f2f1fb;
  --color_enter_bg_rgb: 242, 241, 251;
  --color_sports: #1f65ef;
  --color_sports_rgb: 31, 101, 239;
  --color_sports_bg: #f4f7fe;
  --color_sports_bg_rgb: 244, 247, 254;
  --color_econ: #008f76;
  --color_econ_rgb: 0, 143, 118;
  --color_calendar: #eb5b5b;
  --color_calendar_rgb: 235, 91, 91;
  --color_dic: #031f5f;
  --color_dic_rgb: 3, 31, 95;
  --color_shop: #9858f5;
  --color_shop_rgb: 152, 88, 245;
}
